.mainContent {
    position: relative;
}

.mainContent section {
    padding-block: var(--space-12);
    padding-inline: var(--space-6);

    text-align: center;

    min-height: 80dvh;

    display: grid;
    place-items: center;
}

.heroSection {
    --_radius: var(--radius);

    position: relative;

    padding-inline: var(--space-6);

    &::before,
    &::after {
        content: "";

        position: absolute;

        inset: 0;
        margin: auto;

        width: 100%;
        height: 100%;
        border-radius: var(--_radius);
    }

    &::before {
        background-image: url("/images/heroBackground.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        z-index: -2;
    }

    &::after {
        background: linear-gradient(
            to bottom,
            hsl(var(--clr-background) / var(--_background-opacity, 0.25)) 0%,
            hsl(var(--clr-background) / var(--_background-opacity, 1)) 100%
        );

        z-index: -1;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-6);

        p {
            max-width: 80ch;
        }
    }
}

.missionSection {
    .contentContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--space-6);
    }
}

.missionImageContainer {
    img {
        border-radius: var(--radius);
    }
}

@media screen and (min-width: 800px) {
    .missionSection {
        .contentContainer {
            flex-direction: row;
        }
    }

    .missionContent {
        flex: 0.4;
        flex-shrink: 0;
    }

    .missionImageContainer {
        flex: 0.6;
    }
}

.benefitsSection {
    position: relative;
    background: linear-gradient(
        45deg,
        hsl(var(--clr-secondary) / var(--_background-opacity, 0.25)) 50%,
        hsl(var(--clr-accent) / var(--_background-opacity, 1)) 100%
    );

    .contentContainer {
        display: grid;
        place-items: center;
    }

    .contentWrapper {
        display: flex;
        flex-direction: column;

        gap: var(--space-10);
    }

    .benefitsList {
        display: grid;
        gap: var(--space-4);
        grid-template-columns: 1fr 1fr;

        li {
            padding: var(--space-4) var(--space-6);

            backdrop-filter: blur(16px);
            border-radius: var(--radius-half);
            box-shadow:
                0 8px 32px rgba(0, 0, 0, 0.1),
                inset 0 1px 0 rgba(255, 255, 255, 0.5),
                inset 0 -1px 0 rgba(255, 255, 255, 0.1),
                inset 0 0 20px 10px rgba(255, 255, 255, 1);

            background: rgba(255, 255, 255, 0.15);
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 1px;
                background: linear-gradient(
                    90deg,
                    transparent,
                    rgba(255, 255, 255, 0.8),
                    transparent
                );
            }

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0.8),
                    transparent,
                    rgba(255, 255, 255, 0.3)
                );
            }
        }
    }
}

.programsSection {
    .contentWrapper {
        display: flex;
        flex-direction: column;

        align-items: center;

        gap: var(--space-10);
    }
}

.programsContainer {
    .programsList {
        --_gap: 1rem;

        padding-block: 1rem;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--_gap, 1rem);
    }
}

.programsContainer[data-animated="true"] {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;

    mask: linear-gradient(
        90deg,
        transparent,
        hsl(var(--clr-background)) 20%,
        hsl(var(--clr-background)) 80%,
        transparent
    );

    .programsList {
        position: absolute;
        top: 0;
        left: 0;

        width: max-content;
        flex-wrap: nowrap;

        animation: scroll var(--_animation-duration, 40s)
            var(--_animation-direction, forwards) linear infinite;

        li {
            background-color: hsl(
                var(--clr-accent) / var(--_background-opacity, 1)
            );
            color: hsl(var(--clr-accent-foreground) / var(--_text-opacity, 1));

            padding: var(--space-4) var(--space-6);
            border-radius: var(--radius);

            display: flex;
            flex-direction: column;
            gap: var(--space-2);

            box-shadow:
                0 1px 1px hsl(0 0% 0% / 0.75),
                0 2px 2px hsl(0 0% 0% / 0.5),
                0 4px 4px hsl(0 0% 0% / 0.5),
                0 8px 8px hsl(0 0% 0% / 0.25);

            max-width: 240px;
        }
    }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - var(--_gap, 1) / 2));
    }
}

.sneakpeekSection {
    .contentWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--space-6);
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-8);
    }

    .sneakpeekImageContainer {
        flex: 0.6;
        flex-shrink: 0;

        img {
            border-radius: var(--radius);
        }
    }

    .sneakpeekList {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);

        li {
            padding: var(--space-2);
            border-radius: var(--radius);

            border: 1px dashed hsl(var(--clr-border) / 0.5);
        }
    }
}

@media screen and (min-width: 1000px) {
    .sneakpeekSection {
        .contentWrapper {
            flex-direction: row;
        }
        .contentContainer {
            flex: 0.4;
        }
        .sneakpeekImageContainer {
            flex: 0.6;
        }
    }
}

.testimonialsSection {
    .contentWrapper {
        display: flex;
        flex-direction: column;

        gap: var(--space-10);
    }
}

.testimonialsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: var(--space-6);

    li {
        text-align: start;

        padding: var(--space-8);
        border-radius: var(--radius);

        display: flex;
        flex-direction: column;
        gap: var(--space-2);

        height: 90%;

        background-color: hsl(
            var(--clr-secondary) / var(--_background-opacity, 1)
        );
        color: hsl(var(--clr-secondary-foreground) / var(--_text-opacity, 1));
    }

    li:nth-child(1),
    li:nth-child(4) {
        align-self: flex-start;
    }

    li:nth-child(2),
    li:nth-child(5) {
        align-self: center;
    }

    li:nth-child(3) {
        align-self: flex-end;
    }
}

@supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
        .heroSection {
            .contentContainer {
                animation: fade-out 1s linear;
                animation-timeline: view();
                animation-range: exit;
            }
        }

        .missionSection {
            .missionContent {
                opacity: 0;
                animation: fade-in 1s linear forwards;
                animation-timeline: view();
                animation-range: 250px 500px;
            }

            .missionImageContainer {
                opacity: 0;
                scale: 0.8;
                animation: pop-up 1s linear forwards;
                animation-timeline: view();
                animation-range: 250px 500px;
            }
        }

        .benefitsSection {
            .contentContainer {
                opacity: 0;
                scale: 0.8;
                animation: pop-up 1s linear forwards;
                animation-timeline: view();
                animation-range: 250px 500px;
            }

            .benefitsList {
                opacity: 0;
                scale: 0.8;
                animation: pop-up 1s linear forwards;
                animation-timeline: view();
                animation-range: 250px 500px;
                animation-delay: 0.25ms;
            }
        }

        .programsSection {
            .contentWrapper {
                opacity: 0;
                animation: fade-in 1s linear forwards;
                animation-timeline: view();
                animation-range: 250px 500px;
            }
        }

        .sneakpeekSection {
            .sneakpeekImageContainer {
                opacity: 0;
                scale: 0.8;
                animation: pop-up 1s linear forwards;
                animation-timeline: view();
                animation-range: 250px 500px;
            }

            .contentContainer {
                opacity: 0;
                animation: fade-in 1s linear forwards;
                animation-timeline: view();
                animation-range: 250px 500px;
            }
        }

        .testimonialsSection {
            .contentContainer {
                opacity: 0;
                animation: fade-in 1s linear forwards;
                animation-timeline: view();
                animation-range: 250px 500px;
            }

            .testimonialsList {
                li {
                    opacity: 0;
                    scale: 0.8;
                    animation: pop-up 1s linear forwards;
                    animation-timeline: view();
                    animation-range: 50px 100px;
                }

                li:nth-child(2) {
                    animation-range: 100px 200px;
                }

                li:nth-child(3) {
                    animation-range: 150px 250px;
                }

                li:nth-child(4) {
                    animation-range: 200px 300px;
                }

                li:nth-child(5) {
                    animation-range: 300px 400px;
                }
            }
        }
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }
}

@keyframes pop-up {
    to {
        opacity: 1;
        scale: 1;
    }
}
