.mainContent section {
    padding-block: var(--space-12);

    display: grid;
    place-items: center;
    text-align: center;

    p {
        max-width: max(70vw, 70ch);
    }
}

.heroSection {
    --_radius: var(--radius);

    position: relative;

    padding-inline: var(--space-6);

    &::before,
    &::after {
        content: "";

        position: absolute;

        inset: 0;
        margin: auto;

        width: 100%;
        height: 100%;
        border-radius: var(--_radius);
    }

    &::before {
        background-image: url("/images/heroBackground.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        z-index: -2;
    }

    &::after {
        background: linear-gradient(
            to bottom,
            hsl(var(--clr-background) / var(--_background-opacity, 0.25)) 0%,
            hsl(var(--clr-background) / var(--_background-opacity, 1)) 100%
        );

        z-index: -1;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-6);
    }
}
