.footer {
    background-color: hsl(var(--clr-foreground) / var(--_bg-opacity, 1));
    color: hsl(var(--clr-background) / var(--_text-opacity, 1));

    padding: var(--space-8);

    border-radius: var(--radius);

    box-shadow:
        0 2px 4px hsl(0 0% 0% / 0.5),
        0 4px 8px hsl(0 0% 0% / 0.25);

    li {
        width: 100%;
    }
}

.sectionContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    gap: var(--space-6);
}

.logoContainer {
    flex-shrink: 0;

    img {
        border-radius: 100%;
    }
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--space-8);

    flex: 0.8;
}

.contentSectionWrapper {
    display: flex;
    flex-direction: column;
    column-gap: var(--space-12);
    row-gap: var(--space-8);

    section {
        display: flex;
        flex-direction: column;
        gap: var(--space-6);

        ul {
            display: flex;
            flex-direction: column;

            gap: var(--space-4);

            li a {
                justify-content: flex-start;
                gap: var(--space-2);
            }
        }
    }
}

.separator {
    margin-block: var(--space-6);
    background-color: hsl(var(--clr-accent) / var(--_background-opacity, 1));
}

.miscContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.misc {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: var(--space-8);
    row-gap: var(--space-4);
}

@media screen and (min-width: 640px) {
    .contentSectionWrapper {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media screen and (min-width: 1270px) {
    .sectionContainer {
        flex-direction: row;
    }
}
