.container {
    position: relative;
    width: 100%;

    cursor: text;
}

.input {
    padding-right: 2.5rem; /* Space for the toggle button */
}

.toggle {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    color: hsl(0, 0%, 50%);

    &hover {
        color: hsl(0, 0%, 30%);
    }
}
