.container {
    border: 1px solid hsl(var(--clr-input));
    border-radius: var(--radius-half);

    &:focus-within {
        box-shadow:
            0 0 0 1px hsl(var(--clr-background)),
            0 0 0 2px hsl(var(--clr-input));
    }
}

.select {
    width: 100%;

    padding: var(--space-2) var(--space-4);
}
